<?xml version="1.0" encoding="utf-8"?>
<manifest package="gr.academic.city.sdmd.foodnetwork"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens= "false"
        android:anyDensity="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">



        <activity
            android:name=".ui.activity.MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MealsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gr.academic.city.sdmd.foodnetwork.ui.activity.MainActivity" />
        </activity>

        <activity
            android:name=".ui.activity.CreateMealActivity"
            android:parentActivityName=".ui.activity.MealsActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gr.academic.city.sdmd.foodnetwork.ui.activity.MealsActivity" />
        </activity>

        <activity
            android:name=".ui.activity.MealDetailsActivity"
            android:parentActivityName=".ui.activity.MealsActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gr.academic.city.sdmd.foodnetwork.ui.activity.MealsActivity" />
        </activity>

        <service
            android:name=".service.MealTypeService"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name=".service.MealService"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name=".service.PushToServerService"
            android:enabled="true"
            android:exported="false"/>

        <receiver android:name=".receiver.TriggerPushToServerBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="gr.academic.city.sdmd.foodnetwork.TRIGGER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="gr.academic.city.sdmd.foodnetwork.TRIGGER_UPVOTE"/>
            </intent-filter>
        </receiver>

        <provider
            android:name=".db.FoodNetworkContentProvider"
            android:authorities="gr.academic.city.sdsm.foodnetwork"
            android:enabled="true"
            android:exported="false"/>

    </application>

</manifest>